	<!-- Start Footer Section -->
    <section id="footer" class="ptb">
		<article class="span4">
			<h3>
				درباره ما
			</h3>
			<p> کاف کتاب محفلی برای هم اندیشی و به اشتراک گذاری کتابها و منابع معتبر و معروف جهان</p>
			
			<ul class="social">
				<li> <a class="s8" href="#"> Pintrest</a> </li>
				<li> <a class="s7" href="#"> Youtube</a> </li>
				<li> <a class="s5" href="#"> Twitter</a> </li>
				<li> <a class="s2" href="#"> Dribble</a> </li>
				<li> <a class="s1" href="#"> Facebook</a> </li>
			</ul>
		</article>
        <section class="container container-fluid">
          <section class="row-fluid">
            <figure class="span7">
              <nav>
                <ul>
                  <li> <a href="index.html">منابع</a> </li><br>
                  <li> <a href="blog.html">اخبار</a> </li><br>
                  <li> <a href="blog-single.html"> پرسش و پاسخ از کتابدار</a> </li><br>
                  <li> <a href="/contact">تماس با ما</a> </li><br>
                </ul>
              </nav>
            </figure>
         
          </section>
        </section>
      </section>
    <!-- End Footer Section -->
	
	</div>


    <!-- End Main Wrapper -->
    <!-- JS Files Start -->
    <script type="text/javascript" src="/js/lib.js"></script><!-- lib Js -->
    <script type="text/javascript" src="/js/lib-1-7-2.js"></script><!-- lib Js -->
    <script type="text/javascript" src="/js/jquer_ui-1-8-3.js"></script> <!-- UI Library -->
    <script type="text/javascript" src="/js/modernizr.js"></script><!-- Modernizr -->
    <script type="text/javascript" src="/js/easing.js"></script><!-- Easing js -->
    <script type="text/javascript" src="/js/bootstrap.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="/js/bxslider.js"></script><!-- BX Slider -->
    <script type="text/javascript" src="/js/input-clear.js"></script><!-- Input Clear -->
    <script type="text/javascript" src="/js/social.js"></script><!-- Social Icons -->
    <script type="text/javascript" src="/js/mousewheel.min.js"></script><!-- Mousewheel -->
    <script type="text/javascript" src="/js/mCustomScrollbar.min.js"></script><!-- Modren Custom Scrollbar -->
    <script type="text/javascript" src="/js/bookblock.js"></script><!-- Flip Slider -->
    <script type="text/javascript" src="/js/smooth-scroll.js"></script> <!-- SmoothScroll -->
    <script type="text/javascript" src="/js/smoothscroll_1.js"></script> <!-- jQuery  Gallery Scroll -->
    <script type="text/javascript" src="/js/smoothscroll_2.js"></script> <!-- jQuery  Gallery Scroll -->
    <script type="text/javascript" src="/js/smoothscroll_3.js"></script> <!-- jQuery  Gallery Scroll -->
	<script type="text/javascript" src="/js/smoth-scrolling.js"></script><!-- smoth-scrolling js -->
	<script type="text/javascript" src="/js/custom.js"></script><!-- Custom js -->
	<script type="text/javascript" src="/js/cockies.js"></script><!-- Cookie js -->
	<script type="text/javascript" src="/js/colorswitcher.js"></script><!-- Color Switcher js -->
    <!-- Preloader -->
    <!-- JS Files End -->
    <noscript>
      <style type="text/css" scoped>
        #socialicons>a span { top: 0px; right: -100%; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s 	ease-in-out;}
        #socialicons>ahover div{right: 0px;}
      </style>
    </noscript>
    <script type="text/javascript">
      /* <![CDATA[ */
      $(document).ready(function () {
	  $("#scrollgallery").smoothDivScroll({touchScrolling: true, manualContinuousScrolling: true, visibleHotSpotBackgrounds: "always", autoScrollingMode: "onstart"});
		$('#nav').scrollspy()		 });						$("#scrollgallery").bind("mouseover", function(){    		 		    $("#scrollgallery").smoothDivScroll("stopAutoScrolling"); 		 });	  		 		 		 $("#scrollgallery").bind("mouseout", function(){    		 		    $("#scrollgallery").smoothDivScroll("startAutoScrolling"); 		 });	  
      
      $(window).load(function() {  
      	$("#scrollgallery").fadeIn(300);
      });
      /* ]]> */
    </script>
  </body>
</html>