<hr>

<% if (locals.errors&&errors.length > 0) { %>
<% errors.forEach(function(error){ %>
<div class='header alert alert-danger alert-dismissible'>
    <strong><i class="fa fa-cross-circle"></i> <%= error %></strong>
    <a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
</div>
<% }); %>
<% } %>


<% if (locals.successes&&successes.length > 0) { %>

<% successes.forEach(function(success){ %>
<div class='header alert alert-success alert-dismissible'>
    <strong><i class="fa fa-check-circle"></i> <%= success %></strong>
    <a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
</div>
<% }); %>
<% } %>