<%- include('partials/header'); -%>
	
	
	<!-- Start Book Detail Slider -->
      <section id="book_detail_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span5 scr-style">
              <div class="side" id="side2">
                <div class="center">
                  <div class="photo">
                    <div class="face">
                      <img src="/images/image01.png" alt="">
                    </div>
                    <div class="dos">
                      <img src="/images/image02.png" alt="">
                   
                  
                  <div class="cleaner"></div>
                </div>
              </div>
            </figure>
            <figure class="span7">
              <div class="slider_content">
                <h3> قلعه حیوانات </h3>


                
                <h4> 


                <figure class="span6 first details">
                  <ul>
                    <li>
                  
                      <strong> عنوان:</strong>
                      <p> قلعه حیوانات </p>
                    </li>
                    <li>
                      <strong>  عنوان اصلی:</strong>
                      <p> 	Homage to Catalonia </p>
                    </li>
                    <li>
                      <strong> پدید آورنده:</strong>
                      <p> ج‍رج‌ اورول</p>
                    </li>
                    <li>
                      <strong> مترجم:</strong>
                      <p>	احمد کسایی پور</p>
                    </li>
                    
                    <li>
                      <strong> موضوع:</strong>
                      <p> 	اس‍پ‍ان‍ی‍ا -- ت‍اری‍خ‌ -- ج‍ن‍گ‍ه‍ای‌ داخ‍ل‍ی‌ </p>
                    </li>
                   
                    <li>
                      <strong> نوع مدرک:</strong>
                      <p>کتبی متون فارسی </p>
                    </li>
                   
                  </ul>
                </figure>
                <a href="#" class="purchase2"> 
رزرو کتاب
 </a>
              </div>
            </figure>
          </section>
        </section>
      </section>
	<!-- End Book Detail Slider -->


	
	
	<!-- Start Pricing Section -->
      <section id="pricing" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h3> 
              قلعه‌ی حیوانات اثر جرج اورول </h3>
            <h4> درباره کتاب
 </h4>
            <h5>داستان درباره‌ی گروهی از جانوران اهلی است که در اقدامی آرمان‌گرایانه و انقلابی، صاحب مزرعه (آقای جونز) را از مزرعه‌اش فراری می‌دهند تا خود اداره‌ی مزرعه را به‌دست گرفته و «برابری» و «رفاه» را در جامعه‌ی خود برقرار سازند. رهبری این جنبش را گروهی از خوک‌ها به‌دست دارند، ولی پس از مدتی این گروه جدید نیز به رهبری خوکی به نام ناپلئون همچون آقای جونز به بهره‌کشی از حیوانات مزرعه می‌پردازند و هرگونه مخالفتی را سرکوب می‌کنند.</h5>
          
              </figure>
            </section>
          </section>
        </section>
      </section>
	<!-- End Pricing Section -->
	  
	

	<!-- Start About The Author -->
      <section id="author" class="ptb" >
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span6">
              <h3>
درباره نویسنده
</h3>
              <span class="author_name">جرج اورول</span>
             
              <p>
                اریک آرتور بلر با نام مستعار جورج اورول در ۲۵ ژوئن ۱۹۰۳ در شهر موتیهاری، بیهار در هند متولد شد. او داستان‌نویس، روزنامه‌نگار، منتقدِ ادبی و شاعر انگلیسی بود که بیشتر برای دو رمان سرشناس و پرفروشش مزرعه حیوانات و رمان ۱۹۸۴ می‌شناسند. هر دوی این کتاب‌ها به وضعیت حکومت‌های دیکتاتوری می‌پردازند. جرج اورول مدتی به عنوان پلیس سلطنتی هند در برمه فعالیت می‌کرد اما زندگی در هند و انگلیس سبب شد تا با فقر آشنا شود و این آشنایی دیدگاهی جدید به او و کارهایش بخشید. کتاب‌های آس و پاس در لندن و پاریس و دختر کشیش حاصل همین تجربیات او هستند. اورول در در دهه ۱۹۳۰ به اسپانیا رفت تا علیه ارتش فاشیست ژنرال فرانکو بجنگد. کمی بعدتر به دلیل بیماری مزمن ریوی که به آن مبتلا بود در بیمارستان بستری شد و هفت ماه پس از چاپِ کتابِ ۱۹۸۴، در ۲۱ ژانویه ۱۹۵۰ از دنیا رفت.  </p>
             
            </figure>
            <figure class="span6 author_slider" dir="ltr">
              <ul id="author_slider">
                <li> <img src="/images/image07.jpg" alt="" /></li>
                
              </ul>
            </figure>
          </section>
        </section>
      </section>
    <!-- End About The Author -->

    <%- include('partials/footer'); -%>
