<%- include('partials/header'); -%>

	<!-- Start Book Detail Slider -->
      <section id="book_detail_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span5 scr-style">
              <div class="side" id="side2">
                <div class="center">
                  <div class="photo">
                    <div class="face">
                      <img src="/images/image04.jpg" alt="">
                   
                  <div class="cleaner"></div>
                </div>
              </div>
            </figure>
            <figure class="span7">
              <div class="slider_content">
                <h3> گتسبی بزرگ </h3>


                
                <h4> 


                <figure class="span6 first details">
                  <ul>
                    <li>
                  
                      <strong> عنوان:</strong>
                      <p> گتسبی بزرگ </p>
                    </li>
                    
                    <li>
                      <strong> پدید آورنده:</strong>
                      <p>اسکات فیتز جرالد</p>
                    </li>
                    <li>
                      <strong> مترجم:</strong>
                      <p>رضا رضایی</p>
                    </li>
                    
                    <li>
                      <strong> موضوع:</strong>
                      <p> رمان و داستان‌ </p>
                    </li>
                   
                    <li>
                      <strong> نوع مدرک:</strong>
                      <p>کتبی رمان خارجی </p>
                    </li>
                   
                  </ul>
                </figure>
                <a href="#" class="purchase2"> 
رزرو کتاب
 </a>
              </div>
            </figure>
          </section>
        </section>
      </section>
	<!-- End Book Detail Slider -->


	
	
	<!-- Start Pricing Section -->
      <section id="pricing" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h3> 
              کتاب گتسبی بزرگ </h3>
            <h4> درباره کتاب
 </h4><h5>گتسبی بزرگ اثر جاویدان اسکات فیتز جرالد و به نقل از تایمز، یکی از شاخص‌ترین آثار ادبی امریکا است. این کتاب جزو صد کتاب برتر جهان قرار دارد. رضا رضایی این اثر فاخر از ادبیات کلاسیک امریکا را به فارسی بازگردانده است
  اسکات فیتز جرالد در کتاب گتسبی بزرگ خاطره‌ای جاویدان از هوس، هرزگی و تباهی و بی‌قیدی که همه و همه در ثروت نهفته است را روایت می‌کند. این داستان در نیویورک و در لانگ آیلند، و زمانی اتفاق می‌افتد که فیتزجرالد آن را عصر موسیقی جاز می‌نامد. در سال ۱۹۲۲ که ایالات متحده دورانی از رشد اقتصادی را پس از جنگ جهانی اول می‌گذرانید. در این دوره بر تعداد میلیونرهای ایالات متحده افزوده شد و گتسبی یک از این میلیونرها بود.

  نیک کراوی از اهالی غرب میانه که به سواحل شرقی امریکا کوچ کرده‌‌است همسایه گتسبی می‌شود. گتسبی بزرگ و ثروتمند است و به خاطر مهمانی‌های باشکوهش معروف شده‌است. در میان مردم شایعاتی درباره شیوه پولدار شدن او وجود دارد ولی کسی نمی‌داند ثروت او از کجا آمده‌است. نیک ابتدا از این همه مهمانی پر زرق و برق همسایه‌اش دل خوشی ندارد اما کم کم خودش به یکی از مهمانان تبدیل می‌شود و می‌تواند به گتسبی نزدیک شود و پی به راز میهمانی‌های هر شنبه او ببرد. گتسبی بزرگ عاشق است و این میهمانی‌ها را به شوق این برگزار می‌کند که معشوق شبی پا به خانه‌اش بگذارد. نیک زن مورد علاقه گتسبی را می‌شناسد پس شروع به تحقیق و پرس و جو درباره گذشته این مرد می‌کند.در سال ۲۰۱۳ از روی این اثر فیلمی به کارگردانی باز لورمن و با بازی لئوناردو دی‌کاپریو ساخته شد که توانست جازه اسکار بهترین طراحی صحنه و لباس را به دست آورد.
 </h5>.</section>
        </section>
      </section>
	<!-- End Pricing Section -->
	  
	

	<!-- Start About The Author -->
      <section id="author" class="ptb" >
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span6">
              <h3>
درباره نویسنده
</h3>
              <span class="author_name">اف. اسکات فیتزجرالد</span>
             <p>فرانسیس اسکات کی فیتزجرالد (به انگلیسی: Francis Scott Key Fitzgerald) (زاده ۲۴ سپتامبر ۱۸۹۶ – درگذشته ۲۱ دسامبر ۱۹۴۰) نویسنده آمریکایی رمان و داستان‌های کوتاه بود. آثار فیتزجرالد نمایانگر عصر جاز در آمریکا است.[۱] او به عنوان یکی از نویسندگان بزرگ سده بیستم میلادی شناخته می‌شود. شناخته‌شده‌ترین اثر او رمان گتسبی بزرگ است که اولین بار در سال ۱۹۲۵ منتشر شد.</p></figure>
            <figure class="span6 author_slider" dir="ltr">
              <ul id="author_slider">
                <li> <img src="/images/image06.jpg" alt="" /></li>
                
              </ul>
            </figure>
          </section>
        </section>
      </section>
    <!-- End About The Author -->


<%- include('partials/footer'); -%>
