<%- include('partials/header'); -%>

<!-- Start Main Slider -->
<section id="main_slider">

  <%- include('partials/notif'); -%>

  <section class="container-fluid container">
    <section class="row-fluid">
      <ul class="main_slider span12">
        <li>
          <div class="slider_content">

            <h4>

              اثر جرج اورول </h4>
            <p style="font-size: large;">داستان درباره‌ی گروهی از جانوران اهلی است که در اقدامی آرمان‌گرایانه و
              انقلابی، صاحب مزرعه (آقای جونز) را از مزرعه‌اش فراری می‌دهند تا خود اداره‌ی مزرعه را به‌دست گرفته و
              «برابری» و «رفاه» را در جامعه‌ی خود برقرار سازند. رهبری این جنبش را گروهی از خوک‌ها به‌دست دارند، ولی
              پس از مدتی این گروه جدید نیز به رهبری خوکی به نام ناپلئون همچون آقای جونز به بهره‌کشی از حیوانات مزرعه
              می‌پردازند و هرگونه مخالفتی را سرکوب می‌کنند.</p>
            <a href="/books/galeeheyvanat" class="purchase"> ادامه </a>
          </div>
          <div class="slider_img">
            <img src="/images/slider_book.jpg" alt="Slider image">
          </div>
        </li>
        <li>
          <div class="slider_content">

            <h4>
              اثر اف. اسکات فیتزجرالد </h4>
            <p style="font-size: large;">چاپ اول گتسبی بزرگ در سال 1925 موفقیت چندانی کسب نکرد و فیتزجرالد، در
              حالی‌که خودش و این رمان را شکست خورده می‌دانست در سال 1940 درگذشت. بعد از جنگ جهانی دوم، در سال‌های
              1945 و 1935 تجدید چاپ شد. بلافاصله خوانندگان و طرفداران بی‌‌شماری یافت. در سال 1998 ، هیئت دبیران
              “مادرن لایبرری”، گتسبی بزرگ را بهترین رمان آمریکایی قرن بیستم و دومین رمان برتر انگلیسی زبان این قرن
              اعلام کرد
              <br> <a href="/books/gatesbi" class="purchase"> ادامه </a>
          </div>
          <div class="slider_img">
            <img src="/images/slider_book4.jpg" alt="Slider image">

          </div>
        </li>
      </ul>
    </section>
  </section>
</section>

</section>
</section>
<!-- End Main Slider -->

<!-- Start Book Detail Slider -->
<section id="book_detail_slider">

</section>
<!-- End Book Detail Slider -->

<!-- Start Features Boxes -->
<section id="features" class="ptb">
  <section class="container-fluid container">
    <section class="row-fluid">
      <ul class="span12" id="feature_list">
        <li class="span3 first">
          <div class="feature_box span10 first">
            <span class="f_num"> #1 </span>
            <a href="/tamdid"> <img src="/images/f1.png" alt="Feature" /> </a>
          </div>
          <h3><br>
            تمدید کتاب
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #2 </span>
            <a href="/users/login"> <img src="/images/f2.png" alt="Feature" /> </a>
          </div>
          <h3><br><br><br><br><br><br><br><br><br>
            ورود
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #3 </span>
            <a href="/weblog"> <img src="/images/f3.png" alt="Feature" /> </a>
          </div>
          <h3><br><br><br><br><br><br><br><br><br>
            وبلاگ
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #4 </span>
            <a href="/users/register"> <img src="/images/f4.png" alt="Feature" /> </a>
          </div>
          <h3><br>
            عضویت
          </h3>
        </li>
      </ul>

    </section>
  </section>
</section>
<!-- End Features Boxes -->


<!-- Start Pricing Section -->
<section id="pricing" class="ptb">
  <section class="container-fluid container">
    <section class="row-fluid">
      <h3>چرا کتاب می‌خوانیم؟</h3>
      <p style="font-size: large;">طبق نمودار فراموشیِ ابینگ هاوس 1 ساعت بعد از مطالعه، 80 درصد چیزی که خوانده‌ایم
        را به یاد می‌آوریم، بعد از یک روز 30 درصد، بعد از یک ماه 20 درصد و بعد از پنج سال فقط 10 درصد! با مرورِ منظم
        می‌توان جلوی فراموشی را گرفت که البته با فعالیت‌های زمان‌بری مثل نت‌برداری و تمرین همراه است.

        منحنی فراموشی ابینگ هاوس
        منحنی فراموشی ابینگ هاوس
        ولی از آنجا که این روش به جز در شرایط فورس ماژر مثل کنکور قابل اجرا نیست دوباره به سوال اولم برمی‌گردم که
        چرا کتاب می‌خوانیم؟

        چند دلیل:

        کتاب می‌خوانیم تا وقتمان را پر کنیم مثل آهنگ و فیلم؛
        با افکار و دیدگاه‌های جدید آشنا شویم؛
        سرنخ پیدا کنیم؛ چه بسا که جمله‌ای انسانی را نجات دهد.</p>
    </section>
  </section>
</section>
</section>
<!-- End Pricing Section -->


<%- include('partials/footer'); -%>