<%- include('partials/header'); -%>
	
	
	<!-- Start Book Detail Slider -->
      <section id="book_detail_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span5 scr-style">
              <div class="side" id="side2">
                <div class="center">
                  <div class="photo">
                    <div class="face">
                      <img src="/images/image02..jpg" alt="">
                   
                  <div class="cleaner"></div>
                </div>
              </div>
            </figure>
            <figure class="span7">
              <div class="slider_content">
                <h3>ناطور دشت (ناتور دشت) </h3>


                
                <h4> 


                <figure class="span6 first details">
                  <ul>
                    <li>
                  
                      <strong> عنوان:</strong>
                      <p>ناطور دشت (ناتور دشت) </p>
                    </li>
                    
                    <li>
                      <strong> پدید آورنده:</strong>
                      <p>جروم دیوید سالینجر</p>
                    </li>
                    <li>
                      <strong> مترجم:</strong>
                      <p>آراز بارسقیان</p>
                    </li>
                    
                    <li>
                      <strong> موضوع:</strong>
                      <p> رمان و روایت زندگی‌ </p>
                    </li>
                   
                    <li>
                      <strong> نوع مدرک:</strong>
                      <p>کتبی رمان خارجی </p>
                    </li>
                   
                  </ul>
                </figure>
                <a href="#" class="purchase2"> 
رزرو کتاب
 </a>
              </div>
            </figure>
          </section>
        </section>
      </section>
	<!-- End Book Detail Slider -->


	
	
	<!-- Start Pricing Section -->
      <section id="pricing" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h3> 
              ناطور دشت (ناتور دشت) </h3>
            <h4> درباره کتاب
 </h4><h5>معرفی کتاب ناطور دشت (ناتور دشت)
  ناطور دشت (ناتور دشت) رمانی به قلم نویسنده آمریکایی جروم دیوید سالینجر است. آراز بارسقیان مترجم این کتاب می‌گوید: ناطورِ دشت داستان آدمی است شبیه من و خودت. روایت زندگی پسر جوانی که سعی دارد تو این دنیای نکبتی، پیچ‌وخم‌های زندگی را از سر بگذراند و ببیند آخرسر کجای این دنیا باید وایستد.
  
  بسیاری از منتقدان ادبی معتقدند سلینجر این اثر را در نقد به جامعه مدرن غرب، به‌ویژه آمریکا نوشته است.</h5></figure>
        <h5>ناطورِ دشت نوشته نویسنده آمریکایی دیوید سالینجر است و در آن داستان پسر جوانی روایت می‌شود که سعی دارد تو این دنیای نکبتی، مشکلات را پشت سر بگذارد و ببیند کجای این دنیا قرار دارد. پسر جوان داستان سلینجر، هولدن کالفیلد نام دارد. پس از انتشار ناطور دشت در سال ۱۹۵۱، هولدن کالفیلد به دومین شخصیت معروف داستانی جهان تبدیل شد. هولدن با جهان خود بیگانه است. او مظهر جوانانی است که در هر جای این دنیا ممکن است زندگی کنند. جوانانی که فشارها و تنش‌هایی از قبیل زندگی کردن مطابق قوانین، تلاش برای رهایی از ارتباطات بی‌معنای انسانی و محدود کردن شخصیتشان، آنان را از هر طرف احاطه کرده است.

          باید خاطرنشان ساخت ناطور دشت با روایت شیرین سلینجر و ترجمه خاص آراز بارسقیان آنقدر دلنشین است که خواننده کاملا با شخصیت آن، که در جست‌وجوی مفهوم واقعی زندگی است هم‌دل و هم فکر می‌شود.</h5>    </section>
          </section>
        </section>
      </section>
	<!-- End Pricing Section -->
	  
	

	<!-- Start About The Author -->
      <section id="author" class="ptb" >
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span6">
              <h3>
درباره نویسنده
</h3>
              <span class="author_name">درباره جی. دی. سالینجر</span>
             <p>
              جروم دیوید سالینجر، نویسنده معاصر آمریکایی در سال ۱۹۱۹ در منهتن نیویورک از پدری یهودی و مادری مسیحی (که پس از ازدواج با پدرش به یهودیت گروید) به دنیا آمد. نخستین اثر سالینجر به نام جوانان در سال ۱۹۴۰ در مجله استوری چاپ شد. چند سال بعد (طی سال‌های ۱۹۴۵ و ۱۹۴۶)، داستان ناطور دشت به شکل دنباله‌دار در آمریکا منتشر شد و سپس در سال ۱۹۵۱ روانه بازار کتابِ این کشور و بریتانیا شد. این کتاب در مدت کمی شهرت و محبوبیت فراوانی برای سالینجر به همراه آورد. البته این کتاب در مناطقی از آمریکا به‌عنوان کتاب غیراخلاقی معرفی شد و در فهرست کتاب‌های ممنوعه دهه ۱۹۹۰ منتشرشده از سوی «انجمن کتابخانه‌های آمریکا» ــ قرار گرفت.
              
              از دیگر آثار این نویسنده می‌توان به فرانی و زویی، نُه داستان (دلتنگی‌های نقاش خیابان چهل و هشتم)، تیرهای سقف را بالا بگذارید نجاران و سیمور، جنگل واژگون، نغمه غمگین، هفته‌ای یه بار آدمو نمی‌کشه و یادداشت‌های شخصی یک سرباز اشاره کرد.
              
              </p></figure>
            <figure class="span6 author_slider" dir="ltr">
              <ul id="author_slider">
                <li> <img src="/images/images07..jpg" alt="" /></li>
                
              </ul>
            </figure>
          </section>
        </section>
      </section>
    <!-- End About The Author -->

    <%- include('partials/footer'); -%>
