<%- include('partials/header'); -%>
	
	<!-- Start Inner Page Holder -->
	<section id="inner-page-holder">
		<!-- Start Inner Page Title Bar -->
		<section id="title-bar" class="content-col">
			<section class="container-fluid container">
				<section class="row-fluid">
					
شما اینجا هستید:
</span>  <a href="/">صفحه اصلی</a>   / صفحه ورود و ثبت نام</p>
					</article>
					
				</section>
			</section>
		</section>
		<!-- End Inner Page Title Bar -->
		
		<!-- Start Inner Main Content Holder -->
			<section id="col-holder">
				<section class="container-fluid container">
					<section class="row-fluid">
						<article class="span8">
							<div class="content-col">
								<article class="post-holder">
									<div class="post-img">
										<figure class="books-slider2" dir="ltr">
										  <ul id="books-slider2">
											<li><img src="/images/image14.jpg" alt="" /></li>
										
										  </ul>
										</figure>
									</div>
									<article class="post-cap">
										
										<h3>
											در قرنطینه چه کتاب‌هایی بخوانیم؛ معرفی ۱۲ کتاب از بهترین و پرفروش‌ترین رمان‌های دنیا
</h3>
<p>کتاب خوب، صادق‌ترین و بی‌ریاترین دوست انسان است. این روزها که به خاطر شیوع ویروس کرونا کووید ۱۹ و پیشگیری از ابتلا به بیماری کرونا در خانه مانده‌ایم و خودمان را قرنطینه کرده‌ایم یکی از بهترین سرگرمی‌ها خواندن کتاب است. در میان میلیون‌ها کتابی که در سرتاسر دنیا وجود دارد برخی شاهکارهای ادبیات برای عاشقان کتابخوانی در همه کشورهای دنیا محبوب و پرفروشند.

	اگر شما هم مثل ما اعتقاد دارید که باید کتاب‌های خوب و مفید را برای مطالعه به همدیگر معرفی کنیم پس یک لیست معرفی کتاب ۱۲ تایی از شاهکارها و بهترین و پرفروش‌ترین کتاب‌های رمان دنیا که به دلایل مختلف شایسته این لقب تشخیص داده شده‌اند را به انتخاب منتقدان سایت ادبی معتبر Britannica با ما مرور کنید.</p>
	<h4>۱- آنا کارنینا؛ سرگشتی‌های بانو آنا</h4>
	<p>هر ویژگی که یک عاشق و خوره کتاب از یک شاهکار ادبی و رمان هیجان‌انگیز انتظار دارد همگی با آب و تاب در کتاب جذاب و پرکشش «آنا کارنینا» اثر لئون تولستوی آورده شده‌اند: بی‌وفایی، شرط‌بندی، دسیسه و توطئه و البته فئودالیسم روسی در قالب نثری فخیم و غیر مبتذل. این کتاب که از زمان نخستین چاپش در سال ۱۸۷۸ تاکنون همواره در لیست بهترین رمان‌های ادبی جهان مجله ادبی معتبر «Time Magazine» قرار داشته است، روایت روابط خانواده‌های اشرافی روسیه در قرن ۱۹ میلادی است و شخصیت اصلی آن زنی به نام آنا کارنینا است.</p>
	<h4>۲- کشتن مرغ مقلد؛ معصومیت از دست رفته</h4>
	<p>هارپر لی، نویسنده کتاب «مرغ مقلد» که در تمام عمر فقط همین یک کتاب را نوشت به عقیده منتقدان حتی با همین یک کتاب به عنوان یکی از بهترین و پرفروش‌ترین کتاب‌های رمان دنیا ، یکی از تاثیرگذارترین نویسنده‌های تاریخ ادبیات دنیاست. نخستین نسخه کتاب «مرغ مقلد» در سال ۱۹۶۰ به چاپ رسید و تبدیل به یکی از شاهکارهای ادبیات کلاسیک شد. هارپر به خاطر این کتاب برنده یکی از معتبرترین جوایز ادبی یعنی «پولیتزر» شد. داستانِ کتاب از زبانِ دخترِ نوجوانی به نام «اسکات فینچ» روایت می‌شود که در شهر کوچکی در ایالت آلاباما آمریکا زندگی می‌کند. پدر اسکات وکیل است و در زمان وقوع داستان پرونده‌ مرد سیاه‌پوستی را پذیرفته که متهم است به دختر سفیدپوستی تجاوز کرده است و… مرغ مقلد یا همان مرغ مینا در این کتاب نمادی از معصومیت است. از روی این کتاب یک فیلم سینمایی مشهور به همین نام ساخته شده که یکی از محبوب‌ترین فیلم‌های تاریخ سینما تاکنون است.</p>
	<h4>۳- گتسبی بزرگ؛ یک کتاب شاهکار، یک فیلم منحصر‌به‌فرد</h4>
	<p>اسکات فیتز جرالد در «گتسبی بزرگ» به عنوان یکی از صد رمان برتر قرن بیستم و یکی از بهترین و پرفروش‌ترین کتاب‌‌های رمان دنیا ، داستان مردی ثروتمند اما مشکوک را از زبان فردی به نام «نیک» روایت می‌کند که همواره در حال خوشگذرانی و مهمانی دادن است و البته هیچ کس نمی‌داند که او این همه ثروت را از کجا آورده است. شایعات زیادی همواره حول و حوش زندگی و روابط «جی گتسبی» بر سر زبان‌هاست، این‌که او فرزند یک خانواده فقیر بوده که عاشق دختری ثروتمند می‌شود و زمانی که عنوان افسر نیروی زمینی به جنگ جهانی اول اعزام می‌شود، دختر مورد علاقه‌اش با فردی ثروتمند ازدواج می‌کند و همین مسئله حوادث بعدی داستان را رقم می‌زند. تاکنون چندین فیلم از روی این رمان ساخته شده است که آخرین آن‌ها با بازی «لئوناردو دی‌کاپریو» در سال ۲۰۱۳ روی پرده سینماهای جهان رفت.</p>
	<h4>۴- صد سال تنهایی</h4>
	<p>امکان ندارد که بخواهیم یک لیست از بهترین کتاب‌ های رمان دنیا صحبت کنیم و «صد سال تنهایی» را نادیده بگیریم. کتابی پر کشش و پر از شخصیت‌های متفاوت نوشته گابریل گارسیا مارکز. کتاب که در سال ۱۹۶۷ نوشته شده داستان زندگی خانواده یک سرهنگ در شرف اعدام به نام «بوئندیا» است که در لحظه مرگ تمام خاطرات زندگی از جلو چشمانش عبور می‌کند. رمان «صد سال تنهایی» در حقیقت داستان زندگی شش نسل یک خانواده از اهالی آمریکای جنوبی است که در دهکده‌ای به نام ماکوندو زندگی می‌کنند.

		کتاب در حقیقت بر پایه سبک رئالیسم جادویی نوشته شده و جایزه نوبل ادبیات را در سال ۱۹۸۲ برای نویسنده‌اش به ارمغان آورد. صد سال تنهایی توسط مترجمان زیادی به فارسی برگردانده شده که یکی از بهترین ترجمه‌های این کتاب اثر مرحوم «بهمن فرزانه» است.
		
		</p>
	<h4>۵- گذری به هند</h4>
	<p>رمانی پرکشش نوشته «مورگان فوستر» که داستان زندگی زن انگلیسی به همراه پسر قاضی و عروسش در هندوستان است. در این گیر و دار زن انگلیسی که خانم «مور» نام دارد با پزشکی هندی به نام دکتر عزیز آشنا می‌شوند. این در حالی است که انگلیسی‌ها که در آن زمان هندوستان را تحت سلطه خود داشتند چندان تمایلی به معاشرت هندی‌ها با انگلیسی‌های ساکن هند ندارند و به شدت با این قضایا برخورد می‌کنند. کتاب «گذری به هند» به عنوان یکی از بهترین و پرفروش‌ترین کتاب‌‌های رمان دنیا هم در حقیقت داستان تنشی آشکار میان جامعه هند و بریتانیای‌هایی است که این کشور را اشغال کرده‌اند.

	</p>
	<h4>۶- مرد نامرئی؛ من را ببین</h4>
	<p>«مرد نامرئی»، نوشته «رالف الیسون» نویسنده ، معلم و منتقد سیاهپوست آمریکایی است. کتاب شرح حال مردی سیاهپوست است که توسط اطرافیان همواره نادیده گرفته می‌شود. شخصیت اصلی کتاب که در واقع همان مرد نامرئی است در طول داستان هیچ نامی ندارد و در حقیقت به خاطر زندگی در یک جامعه آمریکایی پر از خشونت و تعصب علیه جامعه آفریقایی-آمریکایی و در واقع سیاهپوستان ساکن آمریکا هویتش را از دست می‌دهد. 

		رمان با چنین جملاتی آغاز می‌شود: «من مردی نامرئی هستم. نه، من از آن موجودات خیالی ترسناک محبوب ادگار آلن پو نیستم، محصول سینمای هالیوود هم نیستم. من آدمی هستم با پوست و گوشت، خون و بافت… و می‌توانم بگویم عقل هم دارم. من نامرئی هستم چون مردم ترجیح می‌دهند مرا نبینند، می‌فهمید؟»
		
		این کتاب در سال ۱۹۵۳ جایزه بهترین کتاب داستان ملی آمریکا را از آن خود کرد.</p>
	<h4>۷- دون کیشوت؛ توهمات یک ذهن آشفته</h4>
	<p>کتابی که هر کس باید در قفسه کتابخانه منزل یا محل کارش داشته باشد. رمانی مشهور اثر «میگل دی سروانتس» که به احتمال زیاد مشهورترین و محبوب‌ترین کتاب تاریخ ادبیات اسپانیاست که در ایران با ترجمه بی‌نظیر مرحوم «محمد قاضی» بارها تجدید چاپ شده است. «دون کیشوت» برای نخستین بار در سال ۱۶۱۵ منتشر شد و سروانتس بخش نخست آن را زمانی که زندانی بود نوشت. در قسمتی از مقدمه رمان دن کیشوت به قلم مترجم آمده است: شاید تاکنون هیچ کتابی به اندازه دن کیشوت این همه مورد عشق و علاقه ملت‌های گوناگون نبوده است.</p>
	<h4>۸- دلبند؛ مرثیه‌ای برای سیاهپوستان</h4>
	<p>داستانی پرکشش و پر از دست انداز نوشته «تونی موریسون» که روایت زندگی پر از مشقت بردگان سیاهپوست را در قرن ۱۹ میلادی در امریکا است. شخصیت اصلی رمان «دلبند» زنی سیاهپوست به نام «ست» است که به اوهایو فرار می‌کند اما بعد از گذشت سال‌ها هنوز هم احساس اسارت می‌کند. خاطرات مزرعه‌ای که در آن برده بود، احساس گناه مداوم به خاطر نوزادش که مجبور شده به خاطر فرار از مزرعه او را بکشد و همچنان حضور و روحش را در خانه احساس می‌کند. نوزادی که هیچ‌گاه اسمی نداشت و زمانی که می‌خواستند برای نوزاد مرده سنگ قبر بسازند یک کلمه روی آن نوشتند: دلبند. تون موریسون برای این رمان غمگین و تراژیک جایزه ادبی پولیتزر را در سال ۱۹۸۸ از آن خود کرد.</p>
	<h4>۹- خانم دالووی؛ یک روز با خانم دالووی</h4>
	<p>به احتمال زیاد «خانم دالوی» عجیب‌ترین رمان «ویرجینیا ولف» است. رمان خانم دالووی شرح یک روز از زندگی یک زن ثروتمند و اهل معاشرت در جامعه بریتانیا با نام «کلاریسا دالووی» است که از زبان سوم شخص روایت می‌شود. داستان از صبح روزی در ماه ژوئن آغاز می‌شود که خانم دالووی به قصد خریدن گل برای مهمانی باشکوهی که قرار است شب در منزلش برگزار شود و مهمانان مهمی از جمله نخست‌وزیر به این مهمانی دعوت هستند از خانه بیرون می‌رود و… شخصیت‌های فراوان در طول داستان با افکار گذشته، بیماری‌های ذهنی و روحی، استرس‌های ناشی از جنگ جهانی اول، شرایط و فشارهای اجتماعی و … دسته و پنجه نرم می‌کنند و همین مسائل شالوده اصلی داستان را تشکیل می‌دهند.</p>
	<h4>۱۰- چیزهایی که در هم شکسته</h4>
	<p>ادبیات غرب معمولا به کتاب‌هایی که توسط نویسندگان اهل شمال آمریکا، آمریکایی لاتین یا اروپا نوشته می‌شوند روی خوش نشان می‌دهند. اما این بار نویسنده‌ای آفریقایی و اهل نیجریه به نام «چینوا آ چه بی» اثری خلق کرده که سالهاست مورد توجه منتقدان ادبی است. «چیزهایی که در هم شکسته» داستان زندگی مردمان اهل قاره آفریقاست که با ورود مبلغان مسیحی و استعمارگران اروپایی زندگی‌شان دچار بحران می‌شود و گاهی از هم می‌پاشد.</p>
	<h4>۱۱- جین ایر؛ عشق و جنون</h4>
	<p>«شارلوت برونته» نویسنده انگلیسی در قرن نوزدهم میلادی با خلق رمان اجتماعی و ادبی «جین ایر» به عنوان یکی از بهترین کتاب های رمان تاریخ نام خود را بر سر زبان‌ها انداخت. رمان دربارهٔ زندگی دختری به نام جین است که در کودکی مادر و پدر خود را از دست می‌دهد و پس از ناملایماتی که از خاله و پسر خاله‌هایش می‌بیند به پرورشگاه سپرده می‌شود و در محیط خشک و خشن پرورشگاه بزرگ می‌شود.

	</p>
	<h4>۱۲- به رنگ ارغوان</h4>
	<p>اگر بخواهیم د رمورد یکی از بهترین و پرفروش‌ترین کتاب‌های رمان دنیا صحبت کنیم «به رنگ ارغوان» یکی از آن‌هاست. رمانی آمریکایی که نویسنده‌اش «آلیس واکر» به خاطر نوشتن آن برنده جایزه ادبی پولیتزر و جایزه کتاب ملی آمریکا شد. داستان از این قرار است که «سِلی جکسن»، دختر نوجوان سیاه‌پوستی است، که پدرش فرزندان او را به خانواده ثروتمند «ساموئل‌«ها می‌فروشد. خود او را نیز به آلبرت‌ جانسن گلاور، مرد سیاه‌پوست بیوه‌‌ای واگذار می‌کند، که در واقع عاشق خواهر «سلی» یعنی «نتی» (بوسیا) بوده است.

	</p>
	

										<h4>
کل نظرات 3
</h4>
										<ul class="comments-list" dir="ltr">
											<li>
												<div class="comm-holder">
													<div class="b-post-img">
														<img src="/images/imagemili.PNG" alt="" />
													</div>
													<div class="b-post-detail">
														<em class="author-det">
نوشته شده توسط
<span>میلاد</span> 4 روز پیش</em>
<p>جالب بود ! سپاس از اطلاعات تان !</p></div>
												</div>
												<a href="#" class="rep-btn"><i class="icon-arrow-left"></i>پاسخ</a>
											</li>
											<li>
												<div class="comm-holder">
													<div class="b-post-img">
														<img src="/images/imagesetare.jpg" alt="" />
													</div>
													<div class="b-post-detail">
														<em class="author-det">نوشته شده توسط<span>ستاره</span> 2ماه پیش</em>
														<p>بیشترشون رو خوندم ولی بنظرم جای قلعه حیوانات و چشمهایش خالی بود</p>	</div>
												</div>
												<a href="#" class="rep-btn"><i class="icon-arrow-left"></i>پاسخ</a>
												
												<ul>
													<li>
													<div class="comm-holder">
														<div class="b-post-img">
															<img src="/images/imageadmin.jpg" alt="" />
														</div>
														<div class="b-post-detail">
															<em class="author-det">نوشته شده توسط<span>ادمین</span>2ماه پیش</em>
															<p>بله برای کتابهای ایرانی هم در حال اماده سازی لیست هستیم</p></div>
													</div>
													<a href="#" class="rep-btn"><i class="icon-arrow-left"></i>پاسخ</a>
												</li>
												</ul>
												
											</li>
										</ul>
										<h4>
ارسال نظر
</h4>
										<hr>
										<form>
											<ul class="contact-form">
												<li><input type="text" name="Name"> <label>نام*</label></li>
												<li><input type="text" name="email"> <label>ایمیل*</label></li>
												
												<li><textarea rows="3" cols="50"></textarea></li>
												<li><input type="submit" value="ارسال پیام"></li>
											</ul>
										</form>
									</article>
								</article>
							</div>
						</article>
						<article class="span4">
							<div class="left-col">
								<div class="widget-holder" dir="ltr">
									<h4>
دسته بندی 
</h4>
									<ul class="cat-list">
										<li>
											<a href="#"><i class="icon-angle-right"></i>موضوعی</a>
											<span class="num">208</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i>تاریخی</a>
											<span class="num">220</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i>ادواری</a>
											<span class="num">152</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i> سمعی</a>
											<span class="num">32</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i>

بصری </a>
											<span class="num">76</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i>آموزشی</a>
											<span class="num">33</span>
										</li>
										<li>
											<a href="#"><i class="icon-angle-right"></i>دیجیتالی</a>
											<span class="num">110</span>
										</li>
									</ul>
								</div>
								
								
								<%- include('partials/sidebarwidget'); -%>
								<!-- <div class="widget-holder">
									<div id="content">
										<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
											<li class="active"><a href="#popular" data-toggle="tab"> محبوب</a></li>
											<li><a href="#recent" data-toggle="tab">تازه ها</a></li>
										</ul>
										<div id="my-tab-content" class="tab-content">
											<div class="tab-pane active" id="popular">
												<ul class="post-list">
													<li>
														<a href="گتسبی.html">
															<div class="img-holder-l"><img src="images/image19.jpg" alt="" /></div>
															<div class="img-cap-r">
																<p><h4><a href="گتسبی.html">گتسبی</a></h4></p>
																<p>اثر ویلا کاتر</p><br>
																<p>موضوع این رمان برتر درباره‌ی نخستین اسقف نیومکزیکو، ژان‌ماریه لاتور و دستیارش ژوزف ویان در دهه‌ی ۱۸۵۰ میلادی است که با دو قاطرشان</p>
															
															</a>
														</div>
													</li>
													<li>
														<a href ="روایت یک مرگ.html">
															<div class="img-holder-l"><img src="images/image20.jpg" alt="" /></div>
															<div class="img-cap-r">
																<p><h4><a href="روایت یک مرگ.html">روایت یک مرگ</a></h4></p>
																<p>اثر جی.آر.آر. تالکین </p><br>
																<p>رمانی معروف که یکی از ۱۰۰ رمان برتر جهان است. رمانی به سبک خیال‌پردازی حماسی که  طی ۱۲ سال از ۱۹۳۷ تا ۱۹۴۹ نگارش شده‌است</p>
															</a>
														</div>
													</li>
													<li>
														<div class="img-holder-l"><img src="images/image21.jpg" alt="" /></div>
														<div class="img-cap-r">
															<p><h4>خانم دالاوی</h4></p>
															<p>اثر ویرجینیا وولف</p><br>
															<p>وولف این رمان برتر جهان را به شیوه‌ی سیال ذهن نوشته و پیوسته بین زمان حال و گذشته‌ی شخصیت‌ها در حرکت است</p>
														
														</div>
													</li>
												</ul>
											</div>
											<div class="tab-pane" id="recent">
												<ul class="post-list">
													<li>
														<a href="قلعه حیوانات.html">
															<div class="img-holder-l"><img src="images/image22.jpg" alt="" /></div> 
															<div class="img-cap-r">
																<p><h4><a href="قلعه حیوانات.html"> قلعه‌ی حیوانات </a></h4></p>
																<p>اثر جرج اورول</p><br>
																<p>داستان درباره‌ی گروهی از جانوران اهلی است که در اقدامی آرمان‌گرایانه و انقلابی، صاحب مزرعه (آقای جونز) را از مزرعه‌اش فراری می‌دهند تا خود اداره‌ی مزرعه را به‌دست گرفته </p>
															</a>
														</div>
													</li>
													
													<li>
														<a href="ناطوردشت.html">
															<div class="img-holder-l"><img src="images/image23.jpg" alt="" /></div>
															<div class="img-cap-r">
																<p><h4><a href ="ناطوردشت.html">ناطوردشت</a></h4></p>
																<p>اثر جروم دیوید سلینجر</p><br>
																<p>شخصیت اصلی رمان، هولدن کالفیلد، نوجوانی ۱۷ ساله‌ است. او در جایی شبیه مرکز توانبخشی یا مرکز درمانی و یا چیزی شبیه به این است که قصد دارد </p>
															</a>
														</div>
													</li>
													<li>
														<div class="img-holder-l"><img src="/images/image24.jpg" alt="" /></div>
														<div class="img-cap-r">
															<p><h4>بربادرفته</h4></p>
															<p>اثر مارگارت میچل</p><br>
															<p>مارگارت میچل برای این رمانِ عاشقانه‌ی بی‌نظیر جایزه‌ی ادبی نوبل سال ۱۹۳۷ را دریافت نمود. ویکتور فلمینگ نیز برمبنای آن فیلمی ساخت که در سراسر جهان رکورد فروش را شکست.</p>
														
														</div>
													</li>
													<li>
														<div class="img-holder-l"><img src="/images/image21.jpg" alt="" /></div>
														<div class="img-cap-r">
															<p><h4>خانم دالاوی</h4></p>
															<p>اثر ویرجینیا وولف</p><br>
															<p>وولف این رمان برتر جهان را به شیوه‌ی سیال ذهن نوشته و پیوسته بین زمان حال و گذشته‌ی شخصیت‌ها در حرکت است</p>
														
														</div>
													</li>
												</ul>
											</div>
										</div>
										</div>
								</div>
								<div class="widget-holder" dir="ltr">
									<h4>اخبار </h4>
									<div class="testimonials-slider">
										<figure class="testimonials">
										  <ul id="testimonials">
											<li>
												<p><h4>دسترسی رایگان به پایان نامه های دانشجویی كشورهای اروپایی از طریق پایگاه DIVA</h4>
												با سلام خدمت تمامی اساتید بزرگوار، دانشجویان، همکاران و...پایگاه DIVA، پایگاهی اروپایی است که دانشجویان میتوانند برای دریافت رایگان پایان نامه های دانشجویی به آن مراجعه کنن</p>
												
											</li>
											<li>
												<p><h4>جستجوی کتب لاتین موجود در 27 نمایشگاه بین المللی کتاب تهران</h4>
													جستجوی بخش ارزی و ریالی کتب لاتین موجود در 27 نمایشگاه بین المللی کتاب تهران
http://tibf.ir/fa/book?bookLang=en
 


												</p>
												
											</li>
										  </ul>
										</figure>
									</div>
								</div>
								
								<div class="widget-holder">
									<h4>وبلاگ</h4>
										<figure class="books-slider" dir="ltr">
										  <ul id="books-slider">
											<li>
												<div><img src="/images/image17.jpg" alt="" /></div>
												<div class="book-cap-bar">
													<strong>
														<a href= "/quarantine">	در قرنطینه چه کتاب‌هایی بخوانیم</a>
</strong>
													<span>معرفی ۱۲ کتاب از بهترین و پرفروش‌ترین رمان‌های دنیا</span>
												</div>
											</li>
											<li>
												<div><img src="/images/image18.jpg" alt="" /></div>
												<div class="book-cap-bar">
													<strong><a href="/charlesdicknes">	۱۸ حقیقت جالب در مورد چارلز دیکنز</a></strong>
													<span>در سالروز درگذشت او که تا به حال نشنیده‌اید</span>
												</div>
											</li>
										  </ul>
										</figure>
								</div> -->
								
							</div>
						</article>
					</section>
				</section>
			</section>
		<!-- End Inner Main Content Holder -->
		
		</section>
	<!-- End Inner Page Holder -->
	


	<%- include('partials/footer'); -%>
