<%- include('partials/header'); -%>


	
	<!-- Start Book Detail Slider -->
      <section id="book_detail_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span5 scr-style">
              <div class="side" id="side2">
                <div class="center">
                  <div class="photo">
                    <div class="face">
                      <img src="/images/image03.jpg" alt="">
                   
                  <div class="cleaner"></div>
                </div>
              </div>
            </figure>
            <figure class="span7">
              <div class="slider_content">
                <h3>کتاب روایت یک مرگ در خانواده </h3>


                
                <h4> 


                <figure class="span6 first details">
                  <ul>
                    <li>
                  
                      <strong> عنوان:</strong>
                      <p>کتاب روایت یک مرگ در خانواده</p>
                    </li>
                    
                    <li>
                      <strong> پدید آورنده:</strong>
                      <p> جیمز روفاس ایجی</p>
                    </li>
                    <li>
                      <strong> مترجم:</strong>
                      <p>شیرین معتمدی</p>
                    </li>
                    
                    <li>
                      <strong> موضوع:</strong>
                      <p> رمان خارجی </p>
                    </li>
                   
                    <li>
                      <strong> نوع مدرک:</strong>
                      <p>کتبی رمان خارجی </p>
                    </li>
                   
                  </ul>
                </figure>
                <a href="#" class="purchase2"> 
رزرو کتاب
 </a>
              </div>
            </figure>
          </section>
        </section>
      </section>
	<!-- End Book Detail Slider -->


	
	
	<!-- Start Pricing Section -->
      <section id="pricing" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h3> 
              کتاب روایت یک مرگ در خانواده </h3>
            <h4> درباره کتاب
 </h4><h5>
  «روایت یک مرگ در خانواده» نوشته جیمز روفاس ایجی(۱۹۵۷-۱۹۰۹)، نویسنده امریکایی است. «روایت یک مرگ در خانواده»، زیبایی و درام‌گونگی ساده یک شعر مردمی را دارد.

  «روایت یک مرگ در خانواده» بازخوانی ماجرای کودکی جیمز روفاس ایجی در ناکسویلِ تنسی، امریکای ۱۹۱۵ است.
  
  ایجی در این رمان، از زوایای مختلف که زاویه‌ دید سوم‌شخص محدود به اعضای خانواده است، در چهل‌وهشت ساعت - از یک روز پیش از مرگ مرگ جی تا ‌روز مرگِ جی- روایتگر «مرگ» و «زندگی» در «خانواده» است.
  
  خانواده‌ جی، شامل مری همسر جی و دو فرزندش روفاس پسر بزرگ و شش ساله که در اصل خود نویسنده است و کاترین سه ساله است.
  
  «ایجی» با حساسیت تاثیر مرگ را بر هر یک از افراد داستان نشان می‌دهد و رمانی خلق می‌کند که سرشار از احساسات واقعی است.
  
  این کتاب اثری شاعرانه است که یکدستی و قدرت آن برگرفته از داستانی ساده و دراماتیک است که با تکامل موسیقایی ماهرانه‌ای پیش می‌رود.
  
  نخستین بخش از این رمان سه‌قسمتی سرشار از شادی‌ای است که با سختی دردآور فرار از تنهایی و انتقال این شادی به عزیزان پررنگ می‌شود.
 </h5> </section>
      </section>
	<!-- End Pricing Section -->
	  
	

	<!-- Start About The Author -->
      <section id="author" class="ptb" >
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span6">
              <h3>
درباره نویسنده
</h3>
              <span class="author_name">درباره جی. دی. سالینجر</span>
             <p>جیمز ایجی (James Rufus Agee)، با دو شاهکارش «روایت یک مرگ در خانواده» و «بیایید مردان مشهور را ستایش کنیم» توانست نام خود را در ادبیات جهان جاودانه کند.

              ایجی یک ‌سال پس از مرگ نابهنگامش، جایزه‌ی پولیتزر 1958 را برای رمان «روایت یک مرگ در خانواده» از آن خود کرد. هر دو شاهکار ایجی در سال‌های 1999 و 2005 از سوی کتابخانه‌ آمریکا و نشریات معتبر لوموند و تایم در فهرست صد رمان بزرگ قرن بیستم قرار گرفت.
              
              تاد موسل نمایش‌نامه‌نویس بزرگ آمریکایی در 1960 بر اساس رمان «روایت یک مرگ در خانواده»، نمایش‌نامه‌ای با عنوان «راه خانه» نوشت که توانست جایزه‌ی پولیتزر نمایش‌نامه‌نویسی را دریافت کند. سه سال بعد نیز فیلمی به کارگردانی فیلیپ اچ. ریسمن براساس این نمایش‌نامه در همان منطقه‌ای که کودکی ایجی در آن‌جا سپری شده بود ساخته شد. ایجی، علاوه بر نوشتن رمان، منتقد سینمایی (مجله‌های تایم، لایف و فورچون) و فیلم‌نامه‌نویس برجسته‌ای نیز بود.</p></figure>
            <figure class="span6 author_slider" dir="ltr">
              <ul id="author_slider">
                <li> <img src="/images/image05.jpg" alt="" /></li>
                
              </ul>
            </figure>
          </section>
        </section>
      </section>
    <!-- End About The Author -->


    <%- include('partials/footer'); -%>